/* universal stlying*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#active-tab-display {
    display: none; /* Hide by default */
}

/* Swipe Transition Section */
#container {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 300vw; /* 100vw per tab; adjust for more sections */
    height: 100vh;
}

/* Tab Styles */
.tab {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #f4e374;
}

#Home {
    background-color: #30011E; /* Blue */
}

/* Header Styles */
h1 {
    position: absolute;
    top: 1.5%; 
    left: 1%;
    font-size: 2em;
    font-weight: bold; 
    color: #EF6F6C;
}

#About {
    background-color: #30011E; /* Green */
}

#Projects {
    background-color: #30011E; /* Red */
}

#Experience {
    background-color: #30011E; /* Red */
}

#Chat {
    background-color: #30011E; /* Red */
}

body {
    overflow: hidden; /* Disables all scrolling */
}

/* Button Navigation */
#navigation {
    position: fixed;
    top: 30px; /* Adjust distance from the top */
    right: 30px; /* Align to the right */
    display: flex; /* Makes buttons appear in a horizontal row */
    gap: 20px; /* Adds spacing between buttons */
    margin: 0;
    padding: 0;
    z-index: 100; /* Ensure it's above other content */
}

#navigation button {
    all: unset; /* Resets all default button styles */
    font-size: 2rem;
    color: #EF6F6C; /* Set the text color */
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease; /* Smooth color transition */
}

#navigation button:hover {
    color: #f4e374;
}

@media only screen and (max-width: 1024px) {

    #container {
        display: flex;
        transition: transform 1s ease-in-out;
        width: 100vw; /* Make the container width fit within the viewport */
        height: 100vh; /* Ensure the container takes up the full viewport height */
        overflow: hidden;
        position: relative;
    }

    .tab {
        font-size: .75rem;  /* Smaller tab content font size */
    }

    /* Hide the navigation buttons */
    #navigation {
        display: none; /* Hide the navigation container */
    }

    #navigation button{
        display: none; /* Hide the navigation container */
    }

    #active-tab-display {
        display: flex;
        position: fixed;
        font-weight: bold; 
        font-size: 1.5rem;
        top: 1.5%; /* Adjust distance from the top */
        right: 2%; /* Align to the right */
        color: #EF6F6C;
        margin: 0;
        padding: 0;
        z-index: 100; /* Ensure it's above other content */
      }
}


